.mainDiv{
    width: 100%;
    margin: 0;
    position: relative;
}

.container{
    position: relative;
    margin-top: 10px;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.card{
    box-shadow: 5px 5px 10px #0000002b !important;
    margin-top: 22px;  
}

.cardHeading{
    background: linear-gradient(135deg, #0057a0, #242745,#0057a0);
    border-radius: 10px; 
    color: white !important;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardHeading{
    background: linear-gradient(135deg, #0057a0, #242745,#0057a0);
    border-radius: 10px; 
    color: white !important;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px 30px 50px !important;
}

.compact{
    padding: 22px 50px 22px 50px !important;
}