.homeBackDiv{
    background-repeat: no-repeat;
    width: calc(100% - 6px);
    position: fixed;
}

.homeWelcText{
    position: absolute;
    top: 150px;
    color: #242745;
    margin-left: 5%;
    text-align: left;
}

.servicesDiv{
    height: 880px;
    background-color: white;
    position: absolute;
    top: 600px;
    width: 100%;
}

.getStartBtn:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #0288d1 !important;
}

.h1{
    font-family: Verdana;
    overflow: hidden;
    transition: all ease-in 1s;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #242745;
}

.animH1{
    width: 100% !important;
}

.doDivs{
    padding: 5%;
    height: 95%;
    border-radius: 3px;
    transition: ease-in-out .2s;
    border: 1px solid grey;
}

.doDivs:hover{
    transform: translate(0px,-15px);
}

.doDivsimgDiv{
    width:100%;
    background-color: #daeeff;
}

.doDivP{
    color: rgb(62, 62, 62);
    font-family: Georgia;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

.welcBtns:hover{
    transform: scale(1.03);
    z-index: 1;
}