.formDiv{
    margin: 13% auto;
    width: 56%;
}
.h3Topic{
    margin-top: 6%;
    text-align: center;
}
.colPadding{
    padding: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;

}