.itmBtn{
    margin: 5px 8px !important;
    border-radius: 5px !important;
    padding: 0 !important;
    padding-left: 12px !important;
}

.itmBtn:hover{
    background: #2d3253 !important;
}

.active{
    background: linear-gradient(72.47deg, #7367f0 22.16%, rgba(115, 103, 240, 0.7) 76.47%);
    box-shadow: 0px 2px 6px 0px rgb(115 103 240 / 48%);
}

.active:hover{
    background: linear-gradient(72.47deg, #7367f0 22.16%, rgba(115, 103, 240, 0.7) 76.47%) !important;
}

.openMenuBtn{
    position: fixed;
    z-index: 1;
    cursor: pointer;
    background: #242745;
    color: white;
    padding-right: 2px;
    padding-bottom: 2px;
    border-bottom-right-radius: 5px;
}

.closeMenuBtn{
    position: absolute;
    right: 10px;
    padding: 4px;
    background: #3b4167;
    border-radius: 5px;
    cursor: pointer;
}